<!DOCTYPE html>
<html ng-app="TodoApp">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title>angular test</title>
</head>

<body>
    <div ng-controller="TodoController">
        <h1>{{title}}</h1>
        <form ng-submit="addItem(newItem);">
            <input type="text" placeholder="enter a text to add" ng-model="newItem">
        </form>
        <span class="clearbutton" type="button" ng-click="deleteAll()">Clear the {{title}}</span>
        <ul>
            <li class="list" ng-repeat="item in list track by $index" ng-click="removeItem($index)">{{item}}</li>
        </ul>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>
</body>

</html>
