<!DOCTYPE html>
<html ng-app="TodoApp">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <title>angular test</title>
  </head>
  <body>

<div ng-controller="TodoController">
<ul>
  <li ng-repeat="item in list">{{item}}</li>
</ul>
  <h1>{{title}}</h1>
  <form>
    <input type="text" ng-model="title">
  </form>
</div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js" charset="utf-8"></script>
<script src="app.js" charset="utf-8"></script>
  </body>
</html>
