.list:hover{
animation-name: anim;
animation-duration: 2s; /* temps de l'animation (4s) */
animation-iteration-count: infinite; /* nombre de boucles (infinie) */
animation-timing-function: linear; /* accelération de l'animation (constant) */
}


@keyframes anim {
50% {color: rgba(255, 40, 64, 0.8);}
100% {color: rgba(0, 0, 0, 1);}
}
